

@model List<toletDb.AdModel>

@{
    ViewBag.Title = "Home Page";
}
<div class="container-fluid">
    <div class="row" style="padding-top:200px;">
        <div class="col-md-2 col-sm-12 fadeshow1 ">
            <div class="wrapper">
                <!-- Sidebar-->
                <nav id="sidebar">
                    <div class="sidebar-header">
                        <h2>toletBD</h2>
                    </div>

                    <ul class="list-unstyled components">
                        <p>toletBD</p>
                        <li class="">
                            <a href="# ">Dhaka</a>
                            
                        </li>
                        <li>
                            <a href="#">Barisal</a>
                        </li>
                        <li>
                            <a href="#" >Sylhet</a>
                            
                        </li>
                        <li>
                            <a href="#">Noakhali</a>
                        </li>
                        <li>
                            <a href="#">Chittagong</a>
                        </li>
                    </ul>
                </nav>

            </div>
        </div>

       



        <div class="col-md-10 col-sm-12 clearfix">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <label class="col-md-6 control-label">Search by:</label>
                        <select name="serach by">
                            <option value="volvo">aaaa</option>
                            <option value="saab">aaa</option>
                            <option value="fiat">aaa</option>
                            <option value="audi">aaaa</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <form class="form-inline md-form form-sm active-cyan-2 mt-2">
                            <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search" aria-label="Search">
                            <i class="fa fa-search" aria-hidden="true"></i>
                            <input type="reset" class="btn btn-default" value="search">
                        </form>
                    </div>

                </div>
            </div>
            <br />
            <div class="container-fluid">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-md-6 ">
                            <div class="wpb_column vc_column_container vc_col-sm-8">
                                <div class="vc_column_inner">
                                    <div class="">
                                        <div class="ere_propertywrap">

                                            <div class="ere-property property-grid  col-gap-10">
                                                <div class=" columns-2 columns-md-3 columns-sm-2 columns-xs-1 columns-mb-1 ">
                                                    <div class="property-item mg-bottom-10 ere-item-wrap">
                                                        <div class="property-inner">
                                                            <div class="">
                                                                <img src="data:image;base64,@System.Convert.ToBase64String(item.img1)" width="200" height="200" class="img-responsive" />
                                                            </div>
                                                            <div class="property-item-content">
                                                                <div class="property-heading">
                                                                    <h4 class="property-title">
                                                                        <a href="https://www.toletdigital.com/property/white-pearl-apartments-furnished-short-stay-apartments-nairobi-kenya/" title="White Pearl Apartments Furnished Short Stay Apartments Nairobi  Kenya">
                                                                            @item.city
                                                                        </a>

                                                                    </h4>
                                                                    <div class="property-price">

                                                                        <span>@item.rent Tk</span>

                                                                    </div>
                                                                </div>
                                                                <div class="propert-type">

                                                                    <i class="fa fa-tag accent-color"></i>
                                                                    <a href="" title="flats"><span>@item.phone </span></a>

                                                                </div>
                                                                <div class="property-loc">

                                                                    <i class="fa fa-map-marker accent-color"></i>
                                                                    <a target="_blank" href="http://maps.google.com/?q=St.%20Michael's%20Rd,%20Off%20Rapta%20Rd,%20Nairobi,%20Kenya,%20Kenya"><span>@item.area @item.street_name @item.street_no,@item.city</span></a>

                                                                </div>
                                                                <div class="property-element-inline">
                                                                    <div class="property-agent">

                                                                        <a href="" title="Flats">
                                                                            <i class="fa fa-user accent-color"></i>
                                                                            <span>@item.users_id</span>
                                                                        </a>
                                                                    </div>
                                                                    <div class="property-date">
                                                                        <i class="fa fa-calendar accent-color"></i>
                                                                        @item.datee
                                                                    </div>
                                                                </div>
                                                                <div class="property-info">
                                                                    <div class="property-info-inner">

                                                                        <span class="fa fa-home"></span>
                                                                        @Html.ActionLink("Open", "updateAd", new { id = item.ad_id })


                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>




                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-4">
                        <form class="form-inline md-form form-sm active-cyan-2 mt-2">

                            <input type="reset" class="btn btn-success" value="Prev">

                        </form>
                    </div>
                    <div class="col-2">

                    </div>
                    <div>
                        <form class="form-inline md-form form-sm active-cyan-2 mt-2">

                            <input type="reset" class="btn btn-success" value="Next">

                        </form>

                    </div>
                    <div class="col-2">

                    </div>

                </div>
            </div>
        </div>
       
    </div>
        
</div>