@model toletDb.usersModel
@{
    ViewBag.Title = "userAccount";
}

<div style="height:40vh;">



</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <!-- Sidebar-->
            <nav id="sidebar">


                <ul class="list-unstyled components">
                    <p>toletBD</p>
                    <li class="">
                        <a class="fa fa-user" href="/Home/Users">Account</a>

                    </li>
                    <li class="">
                        <a class="fa fa-pencil" href="/Home/userAccount">updateAccount</a>

                    </li>
                    <li>
                        <a class="fa fa-comments" href="/Home/meesage">massage</a>
                    </li>

                    <li>
                        <a class="fa fa-bell" href="/Home/postAd">postAd</a>
                    </li>
                    <li>
                        <a class="fa fa-level-down" href="#">Logout</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-10">

            <div class="container">
                <h1 class="fa fa-user">Edit Profile</h1>
                <hr>
                <div class="row">
                    <!-- left column -->
                    <!-- edit form column -->
                    <div class="col-9 personal-info">
                        <div class="alert alert-info alert-dismissable">
                            <a class="panel-close close" data-dismiss="alert">×</a>
                            <i class="fa fa-coffee"></i>
                            <strong>Attention</strong>. This will change your personal info
                        </div>
                        <h3>Personal info</h3>
                        @using (Html.BeginForm("userAccount", "Home", FormMethod.Post))
                        {
                        <form class="form-horizontal" role="form">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                <label class="col-lg-3 control-label">New name:</label>
                                <div class="col-lg-8">
                                    <input class="form-control" name="user" type="text" value="@Model.name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">New phone no:</label>
                                <div class="col-lg-8">
                                    <input class="form-control" name="pno" type="text" value="@Model.phone_no">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">New Address:</label>
                                <div class="col-lg-8">
                                    <input class="form-control" name="add" type="text" value="@Model.addresss">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Current Pass:</label>
                                <div class="col-lg-8">
                                    <input class="form-control" name="pass" type="text" value="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">New Pass:</label>
                                <div class="col-lg-8">
                                    <input class="form-control" name="npass" type="text" value="">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label">Confirm new pass:</label>
                                <div class="col-md-8">
                                    <input class="form-control" name="cnpass" type="text" value="">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label"></label>
                                <div class="col-md-8">
                                    <input type="submit" class="btn btn-primary" value="Save Changes">
                                    <span></span>
                                    <input type="button" class="btn btn-default" value="Cancel" onclick="location.href='@Url.Action("Users", "Home")'">
                                </div>
                            </div>
                        </form>
                        }
                    </div>
                </div>
            </div>
            <hr>
        </div>

    </div>
</div>

